.SJTUnitButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  background-color: rgba(255,255,255,0);
  border: 0.1em solid rgba(255,255,255,0.6);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  height: 30%;
  width: 80%;
}
.SJTUnitButton:hover {
  color: #000000;
  background-color: rgba(255,255,255,0.6)
}

.textStyling {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF
}

/* Layout for the menu to create a loop */
.loopCreationLayout {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  height: 100%
}

/* Layout for the menu once the loop is created */
.createdLoopLayout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

/* div container to align buttons WITHIN createdLoopLayout, which will then be styled with createdLoopButton*/
.createdLoopButtonContainer {
  height: 70%;
  width: 50%
}

.createdLoopButton {
  width:  50%;
  height: 70%;
}

/* houses information about the loops that are created, uses flexbox to space out information */
.loopInformation {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dataInputUnit {
  width: 50%;
  height: 100%;
  text-align:center
}

/* info units within SJT units */
.infoText {
  text-align: center;
}

.flow-table{
  flex-wrap: wrap;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flexbox container which will be used to grid-out the four dropdown menu buttons */
.scale-dropdown-menus {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.dropdown-layout {
  width: 50%;
  height: 50%;
  text-align: center
}
