html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto
}

.container {
  background-color: green;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.div-styling {
  background-color: blanchedAlmond;
  margin: 5%;
  flex: 1
}



.text-container {
  padding: 10px
}
