.overlay-styling {
  position: absolute;
  outline: none;
  z-index: 10;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(25, 24, 26, 0.9);
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transition: height 500ms 0ms, opacity 500ms 500ms z-index 500ms 500ms;
  overflow: auto;
}

.overlay-styling.hide {
  transition: height 500ms 500ms, opacity 500ms 0ms z-index 500ms 500ms;
  opacity: 0;
  height: 0px;
  z-index: 0;
  overflow: hidden;
}

/* media queries for the overlay container */
.overlayText {
  padding: 1rem 1rem;
}

.overlayText h1 {
  text-align: center
}

@media only screen and (min-width: 768px) {
.overlayText h1 {
  text-align: center
}

.overlayText {
  margin: 2rem 5rem
}
}

@media only screen and (min-width: 960px) {
.overlayText h1 {
  text-align: center
}

.overlayText {
  margin: 2rem 10rem
}
}

.closeButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  background-color: rgba(255,255,255,0);
  border: 0.1em solid rgba(255,255,255,0.6);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  height: 30%;
  width: 100px
}

.closeButton:hover {
  color: #000000;
  background-color: rgba(255,255,255,0.6)
}

.bottom-alignment {
  margin-top: 2em;
}

a {
  color: white
}

a:hover {
  color: orange
}
